In [34]:
import pandas as pd

In [38]:
laptops = pd.read_csv("laptops.csv", encoding = "latin-1")

In [39]:
laptops.head()

,Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM,Storage,GPU,Operating System,Operating System Version,Weight,Price (Euros)
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"
2,HP,250 G6,Notebook,"15.6""",Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86kg,"575,00"
3,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,"2537,45"
4,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37kg,"1803,60"

In [40]:
laptops.columns

Index(['Manufacturer', 'Model Name', 'Category', 'Screen Size', 'Screen',
       'CPU', 'RAM', ' Storage', 'GPU', 'Operating System',
       'Operating System Version', 'Weight', 'Price (Euros)'],
      dtype='object')

In [41]:
type("Mubashir lives in country")

str

In [42]:
"Mubashir lives in country".replace("country" , "Pak")

'Mubashir lives in Pak'

# Cleaning Columns

In [43]:
laptops.columns = laptops.columns.str.replace("(" , "")

C:\Users\Bilal\AppData\Local\Temp\ipykernel_1076\1429259812.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  laptops.columns = laptops.columns.str.replace("(" , "")

In [13]:
laptops.columns = laptops.columns.str.replace(")" , "")

C:\Users\Bilal\AppData\Local\Temp\ipykernel_1076\382045556.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  laptops.columns = laptops.columns.str.replace(")" , "")

In [14]:
laptops.columns

Index(['Manufacturer', 'Model Name', 'Category', 'Screen Size', 'Screen',
       'CPU', 'RAM', ' Storage', 'GPU', 'Operating System',
       'Operating System Version', 'Weight', 'Price Euros'],
      dtype='object')

In [45]:
# laptops.columns.str.replace("(" , "").str.replace(")" , "")

# Two Categories of Data

    1) Scrapped Data / Human Entered (Messy)
    2) Database Generated Data (Not Messy)

In [46]:
int("5")

5

In [47]:
# error int("Pakistan")

In [49]:
# Convert Ram column into integer
laptops.loc[: , "RAM"]

laptops.loc[: , "RAM"] = laptops.loc[: , "RAM"].str.replace("GB" , "")

In [50]:
# typecasting in pandas
laptops.loc[: , "RAM"]= laptops.loc[: , "RAM"].astype(int)

In [20]:
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Manufacturer              1303 non-null   object
 1   Model Name                1303 non-null   object
 2   Category                  1303 non-null   object
 3   Screen Size               1303 non-null   object
 4   Screen                    1303 non-null   object
 5   CPU                       1303 non-null   object
 6   RAM                       1303 non-null   int32
 7    Storage                  1303 non-null   object
 8   GPU                       1303 non-null   object
 9   Operating System          1303 non-null   object
 10  Operating System Version  1133 non-null   object
 11  Weight                    1303 non-null   object
 12  Price Euros               1303 non-null   object
dtypes: int32(1), object(12)
memory usage: 127.4+ KB

In [21]:
# Convert Price into float

laptops.loc[: , "Price Euros"]

laptops.loc[: , "Price Euros"].str.replace("," , ".")

laptops.loc[: , "Price Euros"] = laptops.loc[: , "Price Euros"].str.replace("," , ".")

In [22]:
laptops.loc[: , "Price Euros"] = laptops.loc[: , "Price Euros"].astype(float)

In [23]:
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Manufacturer              1303 non-null   object
 1   Model Name                1303 non-null   object
 2   Category                  1303 non-null   object
 3   Screen Size               1303 non-null   object
 4   Screen                    1303 non-null   object
 5   CPU                       1303 non-null   object
 6   RAM                       1303 non-null   int32
 7    Storage                  1303 non-null   object
 8   GPU                       1303 non-null   object
 9   Operating System          1303 non-null   object
 10  Operating System Version  1133 non-null   object
 11  Weight                    1303 non-null   object
 12  Price Euros               1303 non-null   float64
dtypes: float64(1), int32(1), object(11)
memory usage: 127.4+ KB

# Class Task 02

    What are the most used screen sizes?

In [24]:
laptops["Screen Size"].value_counts()

15.6"    665
14.0"    197
13.3"    164
17.3"    164
12.5"     39
11.6"     33
12.0"      6
13.5"      6
13.9"      6
12.3"      5
10.1"      4
15.4"      4
15.0"      4
13.0"      2
18.4"      1
17.0"      1
14.1"      1
11.3"      1
Name: Screen Size, dtype: int64

# Aggregation

In [25]:
laptops["Price Euros"].sum()

1464164.15

In [26]:
laptops.describe()

               RAM  Price Euros
count  1303.000000  1303.000000
mean      8.382195  1123.686992
std       5.084665   699.009043
min       2.000000   174.000000
25%       4.000000   599.000000
50%       8.000000   977.000000
75%       8.000000  1487.880000
max      64.000000  6099.000000

# Transformation

    Grouping / Pivoting

In [27]:
# index === jiski base pr grouping karni hai
# values = desired aggregation column
# aggfunc = desired aggregation function

laptops.pivot_table(index = "Manufacturer" ,\
                    values = "Price Euros" , aggfunc = "sum")

              Price Euros
Manufacturer
Acer             64557.91
Apple            32848.17
Asus            174458.76
Chuwi              942.89
Dell            352262.49
Fujitsu           2187.00
Google            5033.00
HP              292570.31
Huawei            2848.00
LG                6297.00
Lenovo          322656.18
MSI              93361.04
Mediacom          2065.00
Microsoft         9673.85
Razer            23423.00
Samsung          12721.00
Toshiba          60855.00
Vero               869.70
Xiaomi            4533.85

In [28]:
laptops.pivot_table(index = "Manufacturer" ,\
                    values = "Price Euros" , aggfunc = ["sum" , "min" , "max"])

                     sum         min         max
             Price Euros Price Euros Price Euros
Manufacturer
Acer            64557.91      174.00     2599.00
Apple           32848.17      898.94     2858.00
Asus           174458.76      191.90     3975.00
Chuwi             942.89      244.99      449.00
Dell           352262.49      274.90     3659.40
Fujitsu          2187.00      649.00      799.00
Google           5033.00     1275.00     2199.00
HP             292570.31      209.00     4389.00
Huawei           2848.00     1349.00     1499.00
LG               6297.00     1899.00     2299.00
Lenovo         322656.18      229.00     4899.00
MSI             93361.04      839.00     2799.00
Mediacom         2065.00      239.00      389.00
Microsoft        9673.85      989.00     2589.00
Razer           23423.00     1029.00     6099.00
Samsung         12721.00      269.00     1849.00
Toshiba         60855.00      447.00     2799.00
Vero              869.70      196.00      260.00
Xiaomi           4533.85      935.00     1399.95

# Concat

    join/merge

   combine two tables
   table 1 : top 3 most exp products of apple
   table 2 : top 3 most exp products of hp
   
   steps:
   1) filtering
   2) sort 
   3) head(3)

In [29]:
app_bool = laptops["Manufacturer"] == "Apple"
apple = laptops[app_bool]

In [30]:
apple = apple.sort_values("Price Euros" , ascending = False).head(3)

In [31]:
apple

,Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM,Storage,GPU,Operating System,Operating System Version,Weight,Price Euros
17,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.9GHz,16,512GB SSD,AMD Radeon Pro 560,macOS,NaN,1.83kg,2858.00
3,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,2537.45
12,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.8GHz,16,256GB SSD,AMD Radeon Pro 555,macOS,NaN,1.83kg,2439.97

In [32]:
# For HP

app_bool = laptops["Manufacturer"] == "HP"
hp = laptops[app_bool]
hp = hp.sort_values("Price Euros" , ascending = False).head(3)
hp

,Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM,Storage,GPU,Operating System,Operating System Version,Weight,Price Euros
749,HP,Zbook 17,Workstation,"17.3""",IPS Panel Full HD 1920x1080,Intel Xeon E3-1535M v5 2.9GHz,16,256GB SSD,Nvidia Quadro M2000M,Windows,7,3kg,4389.0
1136,HP,ZBook 17,Workstation,"17.3""",IPS Panel Full HD 1920x1080,Intel Core i7 6700HQ 2.6GHz,8,256GB SSD,Nvidia Quadro M3000M,Windows,7,3kg,3949.4
911,HP,Elitebook Folio,Ultrabook,"12.5""",4K Ultra HD / Touchscreen 3840x2160,Intel Core M 6Y75 1.2GHz,8,240GB SSD,Intel HD Graphics 515,Windows,10,1.09kg,3100.0

In [33]:
# concat

concat_df = pd.concat([apple , hp] , ignore_index = True)
concat_df

,Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM,Storage,GPU,Operating System,Operating System Version,Weight,Price Euros
0,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.9GHz,16,512GB SSD,AMD Radeon Pro 560,macOS,NaN,1.83kg,2858.00
1,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,2537.45
2,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.8GHz,16,256GB SSD,AMD Radeon Pro 555,macOS,NaN,1.83kg,2439.97
3,HP,Zbook 17,Workstation,"17.3""",IPS Panel Full HD 1920x1080,Intel Xeon E3-1535M v5 2.9GHz,16,256GB SSD,Nvidia Quadro M2000M,Windows,7,3kg,4389.00
4,HP,ZBook 17,Workstation,"17.3""",IPS Panel Full HD 1920x1080,Intel Core i7 6700HQ 2.6GHz,8,256GB SSD,Nvidia Quadro M3000M,Windows,7,3kg,3949.40
5,HP,Elitebook Folio,Ultrabook,"12.5""",4K Ultra HD / Touchscreen 3840x2160,Intel Core M 6Y75 1.2GHz,8,240GB SSD,Intel HD Graphics 515,Windows,10,1.09kg,3100.00